*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(247, 235, 242);
}

section.header{
    background:linear-gradient(to top,rgba(0,0,0,2),rgb(128, 60, 128));
    opacity: 1px;
    background-size: cover;
    height:250px;
    margin-top: 30px;
}
section.header div.cont h1{
    color:lavenderblush;
    font-size: 42px;
    text-align: center;
    padding-top: 120px;

}
section.header div.home{
    text-align: right;
    color: lavenderblush;
    font-size: 25px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
}

section.header div.home a{
    display: inline-block;
    border-radius: 40px;
    text-decoration: none;
    color:rgb(250, 209, 215);
    padding: 8px;
}

section.header div.home a:hover{
    background-color:rgb(250, 209, 215);
    color: black;

}

section.cont{
    text-align: center;
    margin-top: 20px;
}

section.cont table.acont{
    border:3px solid black;
    text-align: center;
    font-size: 25px;
    width:900px;
    height:300px;
    margin-left: 320px;
    margin-bottom:10px;
    /* border-style:solid; */
    /* border-collapse: collapse; */
}
section.cont table.acont th,section.cont table.acont td{
    border:2px solid black;
    padding:15px;
}
section.cont table.acont thead th.ff{
    width:600px;
}
section.cont table.acont td{
    font-size: 20px;
}

section.resp{
    display: none;
}

@media(max-width:700px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    section.header{
        width:100vw;
        height:35vh;
        margin-top:20px;
        padding:0;
    }

    section.header div.cont h1{
        font-size: 30px;
        padding-top:16vh;
    }

section.header div.home p{
    font-size: 18px;
    padding:0;
    padding-top: 9.5vh;
    
}
section.header div.home{
    padding:0;
    margin:0;
}

section.cont{
    display:none;
}

section.resp{
    display: block;
    width:100vw;
    margin:0;
    padding:0;
}
section.resp div.fir{
    width:100vw;
    margin:0;
    margin-top:3vh;
    font-size: 18px;
    padding:2vh;
    padding-bottom: 0;
    padding-left: 0;
    border:0.8px solid black;
    text-align: left;
}
section.resp div.fir p{
    margin:9px;
}
section.resp div.fir p span{
    font-size: 20px;
    font-style: bold;
    margin:5px;
    /* text-decoration:underline; */
}

section.resp div.fir span.ps{
    padding-bottom: 3vh;
}


/* section.resp div.fir span.ps,section.resp div.fir div.sp{
    float:left;
}
section.resp div.fir span.ps{
    width:40vw;
    height:6vh;
}
section.resp div.fir div.sp{
    width:60vw;
    height:6vh;
}
section.resp div.fir::after{
    display: block;
    clear: both;
    content: "";

} */
    /* margin:0;
    padding:0;
    width:100vw;
}
section.cont table.acont{
    margin:0;
    padding:0;
    width:100vw;
    height:50vh;
}
section.cont table.acont th{
    padding:0;
    margin:0;
    font-size: 18px;
}
section.cont table.acont th.ff{
    width:40vw;
}
section.cont table.acont td{
    padding:0;
    margin:0;
    font-size: 18px;
} */
}

